.teddy-form {
    display: flex;
    align-content: center;
    flex-direction: column;
    color: rgb(161, 18, 18);
    margin: 15px;
  }
  
  .teddy-form label {
    margin-right: 5px;
  }
  
  .teddy-form input {
    margin-left: 5px;
  }
  
  .teddy-form button {
    padding: 0px 5px;
  }