.teddy-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .teddy-profile-heading {
    font-size: 2rem;
  }
  
  .teddy-profile-img {
    max-width: 400px;
    margin: 1.5rem;
  }
  
  .teddy-profile-detail {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  h {
    text-align: center;
  }